.header {
  display: flex;
  justify-content: center;
  height: var(--header-height);
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);

  .headerContainer {
    max-width: 975px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      flex: 1 0 127px;
      align-items: center;
    }
    .search {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
    }
    .menu {
      display: flex;
      flex: 1 0 127px;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
